
ide-view{
  flex-grow: 1;

  display: none;
  position: relative;

  flex-direction: column;

  // idea from: https://moduscreate.com/blog/how-to-fix-overflow-issues-in-css-flex-layouts/
  min-height:0; // strange Chrome fix for scrollable internal content

  &[active]{
    display: flex; // Gives more flexibility for children than 'block'
  }
}

ui-tab-closer.ide-view-tab-closer{
  @include delete(16px, inherit, 1px, var(--ui-gray));
  margin-left: .5rem;
}


ui-tab.ide-view-tab{
  // Tabs
  --ui-tab-background: var(--ui-background);
  --ui-tab-foreground: var(--ui-secondary-label);
  --ui-tab-hover-background: none;
  --ui-tab-active-background: var(--ui-select-background);
  --ui-tab-active-foreground: var(--ui-select-foreground);
  --ui-tab-active-border-bottom: 0rem solid transparent;
  --ui-tab-active-hover-background: var(--ui-select-background);
  --ui-tab-separator: var(--ui-separator);
  --ui-tab-font-size: 1em;

  background: var(--ui-tab-background);
  color: var(--ui-tab-foreground);
  cursor: var(--ui-action-pointer);
  display: flex;
  align-items: center;

  height: 2rem;
  min-height: 2rem;
  max-height: 2rem;

  padding: .25rem .5rem .25rem .75rem;

  // border-bottom: var(--ui-tab-border-bottom);
  font-size: var(--ui-tab-font-size);

  &:not([active='true']) + .ide-view-tab:not(:first-child):not([active='true']){
    border-left: 1px solid var(--ui-tab-separator);
  }
  &:last-child:not([active='true']){
    border-right: 1px solid var(--ui-tab-separator);
  }

  &:hover{
    background: var(--ui-tab-hover-background);
  }

  &[active='true']{
    background: var(--ui-tab-active-background);
    color: var(--ui-tab-active-foreground);

    &:hover{
      background: var(--ui-tab-active-hover-background);
    }

    border-right: 1px solid var(--ui-tab-separator);

    &:not(:first-child){
      border-left: 1px solid var(--ui-tab-separator);
    }
  }
}