

:root{
  --ui-workspace-background: var(--ui-background);
  --ui-workspace-label: var(--ui-label);
  --ui-workspace-line-num: var(--ui-tertiary-label);
  --ui-workspace-gutter: var(--ui-background);
  --ui-workspace-caret-color: var(--ui-blue);
}

/*
ide-root ide-main{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}*/

.ide-workspace{
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
  overflow: hidden;

  background: var(--ui-workspace-background);
  color: var(--ui-workspace-label);

  > ui-toolbar{
    background: var(--ui-workspace-background);
  }
}

