ide-file-link{
  cursor: var(--ui-action-pointer);
}

ide-files{
  --ui-files-font-size: 1em;
  --ui-files-background: var(--ui-secondary-background);
  --ui-files-select-background: var(--ui-tertiary-background);
  --ui-files-select-label: var(--ui-label);

  @include unselectable; // TODO test touch and aria with and without

  //display: flex;

  //
  //flex: 1 0 auto; // prevents shrinking versus: flex-basis: 20%;
  // better:
  flex-shrink:0;

  min-width: 200px;


  //flex-direction: column;
  position: relative;

  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;

  padding-top: .5rem;

  font-size: var(--ui-files-font-size);
  background: var(--ui-files-background);

  /**
   * Reset focus outline, since we provide our own .focus class for ARIA.
   */
  ide-file-item, ide-file-dir, ide-file-dir span{
    &:focus{
      outline: 0;
    }

    cursor: var(--ui-action-pointer);
  }

  /**
   * The individually 'selectable' / focusable controls:
   */
  ide-file-item,
  ide-file-dir > span{
    display: block;
    padding: .1rem .1rem .1rem 1rem;

    &.hover{
      background-color: var(--ui-files-select-background);
      color: var(--ui-files-select-label);
    }

    &.focus{
      background-color: var(--ui-files-select-background);
      color: var(--ui-files-select-label);
    }
  }

  $indentation-multiple: 1.4;

  ide-file-dir{
    ide-file-dir {
      ide-file-item,
      ide-file-dir > span {
        padding-left: #{1rem + $indentation-multiple * 1};
      }

      ide-file-dir {
        ide-file-item,
        ide-file-dir > span {
          padding-left: #{1rem + $indentation-multiple * 2};
        }

        ide-file-dir {
          ide-file-item,
          ide-file-dir > span {
            padding-left: #{1rem + $indentation-multiple * 3};
          }

          ide-file-dir {
            ide-file-item,
            ide-file-dir > span {
              padding-left: #{1rem + $indentation-multiple * 4};
            }

            ide-file-dir {
              ide-file-item,
              ide-file-dir > span {
                padding-left: #{1rem + $indentation-multiple * 5};
              }
            }
          }
        }
      }
    }
  }

  ide-file-dir{
    ide-file-dir-toggle{
      display: inline-block;
      width: 1.5rem;
      font-size: .8rem;
      position: relative;
      padding-left: 1px;
    }

    &[aria-expanded="false"]{
      > span > ide-file-dir-toggle:before {
        content: '▶︎';
      }

      > [role='group'] {
        display: none;
      }
    }

    &[aria-expanded="true"] {
      > span > ide-file-dir-toggle:before {
        content: '▼';
      }

      > [role='group'] {
        display: block;
      }
    }
  }
}