$toolbar-item-spacing: .5rem;

ide-toolbar{
  flex-shrink:0;

  align-items: center;
  justify-content: space-between;
  display: flex;

  background: var(--ui-background);

  white-space: nowrap;

 // bad for popup menus:
  // overflow:hidden;

  ide-toolbar-left, ide-toolbar-right, ide-toolbar-path{
    display: flex;

    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;

    &:empty{
       display:none;
    }
  }

  .ide-toolbar-left{
    align-items: center;
    justify-content: flex-start;
  }

  .ide-toolbar-right{
    align-items: center;
    justify-content: flex-end;
  }

  ide-toolbar-item,
  ide-toolbar-path-item{
    @include unselectable;

    align-items: center;
    display: flex;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    padding: $toolbar-item-spacing;
  }

  ide-toolbar-path-item{
    outline: 0;
    font-size: .8rem;
    background: var(--ui-background);

    &.is-app-name{
      font-size: .9rem; // slightly bigger than ide-toolbar-path-item
    }

    &:not(:first-child):before {
      content: "";
      display: inline-block;
      border-right: 1px solid var(--ui-border-color);
      border-top: 1px solid var(--ui-border-color);
      transform: rotate(45deg);
      width: .5rem;
      height: .5rem;
      margin-right: $toolbar-item-spacing;
      padding-left: #{$toolbar-item-spacing / 2};
    }

    &.has-action {
      cursor: pointer;
      position: relative;

      .action{
        display: block;
        position: absolute;
        background: var(--ui-background);
        z-index: 9999;
        left: 0;
        top: 100%; // bottom of parent
        min-width: 100%; // at least as wide as parent
        box-shadow: $ui-popup-shadow;
        transition-property: opacity,transform;
        transition-duration: 86ms;
        pointer-events:none;
        opacity:0;
        transform: translateY(-5px);

        > div{
          cursor: pointer;
          padding: $toolbar-item-spacing #{$toolbar-item-spacing * 2};

          &:hover{
            background: var(--ui-tab-hover-background);
          }

          &.action-delete:after{
            content: 'Delete';
          }
        }
      }

      &:hover {
        background: var(--ui-tab-hover-background);
      }

      &:focus{
        background: var(--ui-tab-hover-background);

        .action{
          pointer-events: auto;
          opacity: 1;
          transform: translateY(0)
        }
      }
    }
  }

  ide-toolbar-item{
    &.is-logo:before{
      content: ' ';
      height: 1.5rem;
      width: 1.5rem;
      background-size: 1.5rem 1.5rem;
      background-image: var(--ui-logo);
      background-position: center;
      background-repeat: no-repeat;
    }

    &.is-app-icon{
      svg{
        height: 1rem;
        width: 1rem;
      }
    }

  }
}
