/**
 * Container for single ide-view-XYZ, which is where most customization occurs.
 */
ide-view{
  background: var(--editor-background);
  color: var(--editor-foreground);

  flex-grow: 1;

  display: none;
  position: relative;

  flex-direction:column;

  // idea from: https://moduscreate.com/blog/how-to-fix-overflow-issues-in-css-flex-layouts/
  min-height:0; // strange Chrome fix for scrollable internal content

  &[active]{
    display: flex; // Gives more flexibility for children than 'block'
  }
}