$toolbar-item-spacing: .5rem;

ide-toolbar{
  flex-shrink:0;

  align-items: center;
  justify-content: space-between;
  display: flex;

  background: var(--ui-background);

  white-space: nowrap;

  overflow:hidden;

  ide-toolbar-left, ide-toolbar-right, ide-toolbar-path{
    display: flex;

    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;

    &:empty{
       display:none;
    }
  }

  .ide-toolbar-left{
    align-items: center;
    justify-content: flex-start;
  }

  .ide-toolbar-right{
    align-items: center;
    justify-content: flex-end;
  }

  ide-toolbar-item,
  ide-toolbar-path-item{
    align-items: center;
    display: flex;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    padding: $toolbar-item-spacing;
  }

  ide-toolbar-path-item{
    font-size: .8rem;
    background: var(--ui-background);
    padding-left: #{$toolbar-item-spacing / 2};

    &:before {
      content: "";
      display: inline-block;
      border-right: 1px solid var(--ui-border-color);
      border-top: 1px solid var(--ui-border-color);
      transform: rotate(45deg);
      width: .5rem;
      height: .5rem;
      margin-right: $toolbar-item-spacing;
    }

    &.has-click-action {
      cursor: pointer;

      &:hover {
        background: var(--ui-tab-hover-background);
      }
    }
  }

  ide-toolbar-item{
    &.is-logo{
      svg{
        height: 1.5rem;
        width: 1.5rem;
      }
    }

    &.is-app-icon{
      svg{
        height: 1rem;
        width: 1rem;
      }
    }

    &.is-app-name{

    }


  }
}
