ide-workspace{
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
  overflow: hidden;

  background: var(--ui-workspace-background);
  color: var(--ui-workspace-label);

  > ide-toolbar{
    background: var(--ui-workspace-background);
  }

}