ide-workspace{
  //display: block;
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
  overflow: hidden;

  //&.is-active{
  //  display: block;
  //}

  background: var(--editor-background);

  > ide-view{
    border-top: 1px solid var(--ui-border-color);
  }
}