/**
 * View with:
 *
 * - h2: title
 * - div: growing main content area
 * - blockquote: "about"
 * - footer: actions e.g. "Create"
 */
.ide-create-dialog-standard-view{
  display: flex;
  flex-direction:column;
  flex-grow: 1;

  > h2{
    color: var(--ui-label);
    flex-shrink: 0;
    flex-grow: 0;
    padding: var(--ui-spacing);
  }

  > div{
    flex-grow: 1;
    padding: var(--ui-spacing);
  }

  > blockquote{
    font-size: .8rem;
    flex-shrink: 0;
    flex-grow: 0;
    padding: var(--ui-spacing);
    color: var(--ui-secondary-label);
  }

  > footer{
    flex-shrink: 0;
    flex-grow: 0;
    padding: var(--ui-spacing);
    //border-top: 1px solid var(--ui-separator);
    display: flex;
    //align-items: flex-end;
    justify-content: flex-end;
    flex-direction: row;
  }

  .is-error{
    color: var(--ui-red);
  }
}

.ide-create-dialog-panel{
  display: flex;
  flex-direction: row;

  > ui-sidebar.ide-create-dialog-panel-tabs{
    font-size: .9rem;
    padding: var(--ui-s-spacing);
  }

  > .ide-create-dialog-panel-views{
    border-left: 1px solid var(--ui-separator);
    flex-grow: 1;
    display: flex;

    > div{
      display:none;

      &[data-ui-tab-view-active='true']{
        display: flex;
      }
    }

    &:empty:before{
      content: 'Choose from available options on the left';
      display: block;
    }
  }
}