
ide-view-root{
  padding: var(--ui-xl-spacing);

  div.is-file-grid{
    // https://css-tricks.com/auto-sizing-columns-css-grid-auto-fill-vs-auto-fit/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    gap: var(--ui-spacing);
  }
}